

/*** Spinner Start ***/

.text-primary {
    color: #512ead !important;
}

.bg-dark {
    background: #000 !important;
}
.btn-primary {
    background: #512ead !important;
}

.text-secondary {
    color: #4cabbd !important;
}
.bg-secondary {
    background: #4cabbd !important;
}
    .btn.btn-secondaryy{
        color: #fff !important;
        background-color: #0396ad;
        padding: 1rem 3rem;
        border-radius: 30px;
        position: relative;
        border: none;
        overflow: hidden;
        z-index: 1;
    }
    /* .btn.btn-secondaryy span{
        z-index: 2;
    } */
    
     .btn.btn-secondaryy::after, .btn.btn-secondaryy::before{
        content: "";
        position: absolute;
        height: 50%;
        width: 0;
        background-color: black;
        transition: width 0.3s;
        z-index: -1;
    }
    .btn.btn-secondaryy::before{
        top: 0;
        left: 0;
          border-radius:30px 30px 0 0 ;
    }
    .btn.btn-secondaryy::after{
 right: 0;
        bottom: 0;
         border-radius:0 0 30px 30px;
    }
    .btn.btn-secondaryy:hover::before, .btn.btn-secondaryy:hover::after{
        width: 100%;
    }
@media (max-width:768px) {
    .btn.btn-secondaryy{
        padding: 0.75rem 2rem;
       font-size: 14px;
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }

/*** Spinner End ***/


/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-md-square {
    width: 46px;
    height: 46px;
}

.btn-lg-square {
    width: 58px;
    height: 58px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

/*** Button End ***/


/*** Topbar Start ***/

.topbar .top-info {
    letter-spacing: 1px;
}

.topbar .top-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar .top-link a {
    margin-right: 10px;
}

#note {
    width: 500px;
    overflow: hidden;
}

#note small {
    position: relative;
    display: inline-block;
    animation: mymove 20s infinite;
    animation-timing-function: all;
}

@keyframes mymove {
    from {left: 100%;}
    to {left: -100%;}
}

/*** Topbar End ***/


/*** Navbar Start ***/
.navbar .navbar-nav {
    padding: 15px 0;
}

.navbar .navbar-nav .nav-link {
    padding: 10px;
    color: var(--bs-white);
    font-size: 18px;
    outline: none;
    
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-secondary) !important;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "font awesome 5 free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: .5s;
    opacity: 1;
}

/*** Navbar End ***/


/*** Carousel Start ***/

.b1{
    background-image: url(../img/banner/banners1\ \(1\).jpeg);
}
.b2{
    background-image: url(../img/banner/banners1\ \(2\).jpeg);
}
.b3{
    background-image: url(../img/banner/b3.jpeg);
}
.b4{
    background-image: url(../img/banner/b1.jpeg);
}

.banners{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
}
.banners .slide-content {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  padding: 2rem 0;
}
.banners > .slide-content .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banners > .slide-content .container h1{
     color: #fff;
    font-size: 3rem;
font-style: italic;
text-transform: uppercase;
}
.banners > .slide-content .container p{
    font-size: 18px;
    color: #fff;
}
.banners > .slide-content .container a{
   width: fit-content;
}
@media (max-width:768px) {
    .banners{
height: auto;

    }
.banners > .slide-content .container h1{
    font-size: 1.5rem;
}
.banners > .slide-content .container p{
    font-size: 14px;
}
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.single-item .banners .slide-content .container {
  opacity: 0;
}

.single-item .slick-active .slide-content .container {
  animation: slideInFromLeft 0.8s ease-out forwards;
  animation-delay: 0.5s;
}
/*** Carousel End ***/
/* count down start*/
.wow h2{
    font-size: 4rem;
    margin-bottom: 0;
}
.wow span{
font-size: 18px;
}
@media (max-width:768px) {
    .wow h2{
    font-size: 2rem;
}
.wow span{
font-size: 14px;
}
}

/* count down end*/

/* .page-header */
.page-header
 {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

/* about on home page */
.aboutimg1{
     border-radius:20px;
     box-shadow: 0px 4px 16px grey;
     width: 60%;
}
.aboutimg2{
   position: absolute;
    /* top: 50%;
     left: 25%; */
     height: 70%;
     bottom: -50px;
     border: 6px solid #fff;
     border-radius:20px;
width: 50%;
right: 0;
}
.aboutimgtext{
    position: absolute;
    top: 0;
    right: 10px;
    background-color: white;
    line-height: 1;
    padding: 1rem 2rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    color: #fff;
 z-index: 3;
    outline: 2px solid white;
}
.aboutimgtext::before{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #4cabbd;
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    border-radius: 50%;
    z-index: -1;
    outline: 4px dashed #4cabbd;
    outline-offset: 5px;
    animation: rotateexp 10s linear infinite;
}
@keyframes rotateexp {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.aboutimgtext span{
    font-size: 4rem;
}
@media (max-width:576px) {
    .aboutimgtext{
        font-size: 14px;
        padding: 1rem;
         right: 5px;
    }
    .aboutimgtext span{
    font-size: 2rem;
}

}
/* .abouttext h5{
    background-color: #4cabbd;
    color: #fff;
    width: fit-content;
} */
/*about on home page end */

/*** Services Start ***/

.services .services-item {
    box-shadow: 0 0 60px rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px 0;
    position: relative;
}


.services-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    background: #512ead;
    transition: .5s;
}

.services-content::after {
    top: 0;
    bottom: auto;
    border-radius: 10px 10px 10px 10px;
}

.services-item:hover .services-content::after {
    height: 100%;
    opacity: 1;
    transition: .5s;
}

.services-item:hover .services-content-icon {
    position: relative;
    z-index: 2;
}

.services-item .services-content-icon i,
.services-item .services-content-icon p {
    transition: .5s;
}

.services-item:hover .services-content-icon i {
    color: var(--bs-secondary) !important;
}

.services-item:hover .services-content-icon p {
    color: var(--bs-white);
}

.sercard {
  position: relative;
  height: 100%;
  background-color: #fff; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.sercard::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sercard::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.sercard p{
    text-align: center;
}
.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.sercard p:not(.heading) {
  font-size: 14px;
}

.sercard p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.sercard:hover::after {
  filter: blur(30px);
}

.sercard:hover::before {
  transform: rotate(-180deg) scale(1.05);
}


/*** Services End ***/

/* team member start */
.card-client {
  background: #0396ad;
  width: 14rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #65a9b4;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 16px #65a9b4;
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 6rem;
  height: 6rem;
  border: 4px solid #65a9b4;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #65a9b4;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}

/* tram member end */

/*** Project Start ***/

.project-img {
    position: relative;
    padding: 15px;
}

.project-img::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    background: var(--bs-secondary);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
}

.project-img::after {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--bs-primary);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
}

.project-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.project-content a {
    display: inline-block;
    padding: 20px 25px;
    background: var(--bs-primary);
    border-radius: 10px;
}

.project-item:hover .project-content {
    opacity: 1;
    transition: .5s;
}

.project-item:hover .project-img::before,
.project-item:hover .project-img::after {
    opacity: 0;
}

/*** Project End ***/

/* technologysection */
.technologysection {
  position: relative;
  overflow: hidden;
}

.technologysection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/bgimmg.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  animation: bgZoom 5s linear infinite;
}

/* background animation */
@keyframes bgZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}



/* technologysection */

/*** Blog Start ***/
.blog-item .blog-btn {
    z-index: 2;
}

.blog-btn .blog-btn-icon {
    height: 50px;
    position: relative;
    overflow: hidden;
}

.blog-btn-icon .blog-icon-2 {
    display: flex;
    position: absolute;
    top: 6px;
    left: -140px;
    
}

.blog-btn-icon:hover .blog-icon-2 {
    transition: 1s;
    left: 5px;
    top: 6px;
    padding-bottom: 5px;
}
.blog-icon-1 {
    position: relative;
    top: -4px;
}
.blog-btn-icon:hover .blog-icon-1 {
    top: 0;
    right: -140px;
    transition: 1s;
}

/*** Blog End ***/


/*** Team Start ***/

.team-item {
    border-top: 30px solid var(--bs-secondary) !important;
    background: rgba(239, 239, 241, 0.8);
}

.team-content::before {
    height: 200px;
    display: block;
    content: "";
    position: relative;
    top: -101px;
    background: var(--bs-secondary);
    clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
    padding: 60px;
    opacity: 1;
}

.team-img-icon {
    position: relative;
    margin-top: -200px;
    padding: 30px;
    padding-bottom: 0;
}

.team-img {
    border: 15px solid var(--bs-white);
}

.team-img img {
    border: 10px solid var(--bs-secondary);
    transition: .5s;
}

.team-item:hover h4 {
    color: var(--bs-primary);
    transition: .5s;
}

.team-item:hover .team-img img {
    transform: scale(1.05);
    border: 10px solid var(--bs-secondary);
}

.team-carousel .owl-stage {
    position: relative;
    width: 100%;
    height: 100%;
}

.team-carousel .owl-nav {
    position: absolute;
    top: -100px;
    right: 50px;
    display: flex;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    margin-left: 15px;
    background: var(--bs-secondary);
    color: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

@media (max-width: 992px) {
    .team-carousel {
        margin-top: 3rem;
    }

    .team-carousel .owl-nav {
        top: -85px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        margin-left: -15px;
    }
}

.skillsdiv{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: #4cabbd;
   z-index: -7;
  border-radius: 5px;
transform-origin: top center;   /* KEY POINT */
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}
.card{
    overflow: hidden;
}
.card:hover .skillsdiv{
  transform: rotate(0deg);
}
.card:hover h6{
    color: #fff;
}
.card:hover p{
    color: #fff !important;
}
/* @keyframes rotatee {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */
/*** Team End ***/


/*** Testimonial Start ***/

.testimonial-item {
    background: #e3f0eb;

}

.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #c1dad0;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--bs-primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}

/*** Testimonial End ***/


/*** Contact Start ***/

.contactsection{
   position: relative; 
   overflow: hidden;
}
.contactsection::before{
    position: absolute;
    content: "";
     bottom: 0;
    right: 0;
    background-image: url(../img/bgcolorbox.png);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    z-index: -99;
    animation: movingg 15s linear infinite;
}
@keyframes movingg {
    0%, 100%{
        transform: translate(0, 0);
    }
    25%{
       transform: translate(0, -100px);
    }
    50%{
        transform: translate(-100px, -100px);
    }
    75%{
       transform: translate(-100px, 0);
    }
}
@keyframes movinggg {
    0%, 100%{
        transform: translate(0, 0);
    }
    25%{
       transform: translate(0, 50px);
    }
    50%{
        transform: translate(50px, 50px);
    }
    75%{
       transform: translate(50px, 0);
    }
}
.contactsection::after{
    position: absolute;
    content: "";
     top: 0;
    left: 0;
    background-image: url(../img/bgcolorbox.png);
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -99;
    animation: movinggg 15s linear infinite;
}
.contact-detail{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}
.contact-detail::before {
    position: absolute;
    content: "";
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    /* background: linear-gradient(rgb(210, 243, 235, 1), rgba(230, 250, 245, .3)), url(../img/background.jpg) center center no-repeat; */
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
}

.contact-map {
    background: #4cabbd;
}

.contact-form {
    background: #4cabbd;
}

/*** Contact End ***/


/*** Footer Start ***/

.footer .short-link a,
.footer .help-link a,
.footer .contact-link a {
    transition: .5s;
}

.footer .short-link a:hover,
.footer .help-link a:hover,
.footer .contact-link a:hover {
    letter-spacing: 1px;
}

.footer .hightech-link a i, .footer .hightech-link a{
    transition: 0.3s ease;
    color: #512ead;
}
.footer .hightech-link a:hover {
    background: var(--bs-secondary);
    border: 0;
}
.footer .hightech-link a:hover i{
    color: #fff;
    transform: scale(1.15);
}
/*** Footer End ***/